.container.about-container#about
    .row
        .col-12
            h3.title.text-left.section-title.section-title-about.text-center Who I am
        span.section-division

        .col-12.col-md-12.col-lg-4
            h3 I was born in 
                span India 
                | and for more than a decade I am working in
                span  Software Development.
    
        .col-12.col-md-6.col-lg-4
            p Experienced Software Engineer with a demonstrated history of working in the computer software industry.
                | Skilled in Software Development, Web Applications and Amazon Web Services (AWS Cloud).
                | Also have understanding of other cloud platforms like Google cloud, Azure and knowledge of CI/CD (Devops).
                | Strong engineering professional with a degree in 
                b MS 
                | focused in 
                b Cloud Computing 
                | from National College of Ireland.

        .col-12.col-md-6.col-lg-4
            <div data-iframe-width="350" data-iframe-height="270" data-share-badge-id="eb9f211d-1b8e-4646-9499-21699c568150" data-share-badge-host="https://www.youracclaim.com"></div><script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>

            //- p Being also an artist, I love the creative possibilities found in coding web applications which allows me to combine my passion for graphics and art with modern technologies.
            
        span.section-division    
